<div class="container">
  <h3>Gerador de senhas</h3>

  <mat-slider min="8" max="32" step="1" showTickMarks discrete [displayWith]="formatLabel"
    (input)="onPasswordLengthChange($event)">
    <input matSliderThumb>
  </mat-slider>
  <p>Comprimento da senha: {{ this.passwordLength }} caracteres</p>

  <div class="btn-group">
    <mat-button-toggle-group multiple class="btn-group-toggle" (change)="onToggleChange($event)">
      <mat-button-toggle matTooltip="Letras Maiúsculas" value="uppercase">AAA</mat-button-toggle>
      <mat-button-toggle matTooltip="Letras Minúsculas" value="lowercase">aaa</mat-button-toggle>
      <mat-button-toggle matTooltip="Números" value="numbers">123</mat-button-toggle>
      <mat-button-toggle matTooltip="Caracteres Especiais" value="symbols">#$%</mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-flat-button (click)="generatePassword()">
      <mat-icon>vpn_key</mat-icon>
      Gerar Senha
    </button>
  </div>

  <mat-card appearance="outlined" class="card">
    <mat-card-content class="card-content">
      {{ this.generatedPassword }}
      <button mat-icon-button matTooltip="Copiar Senha" (click)="copyPasswordToClipboard()"
        [disabled]="!generatedPassword">
        <mat-icon class="content_copy">content_copy</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
